<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" >
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h2>Fill out the Survey Form</h2>
    <form action='/users' method='post'> 
	    Your Name: <input type='text' name='name'><br><br>
	    Age: <input type="number" name="age" id="age"><br><br>
           <input type="submit" value="submit">
	  </form>
    <% for (var i in users) {%>
      <% var user = users[i] %>
      <p>
        Name: <%= user.name %>
      </p>
      <p>
        Age: <%= user.age %>
      </p>
    <% }%>
</body>
</html>